main {
  background-color: #1a1a1a;
}
.error {
  color: red;
  text-align: center;
}
#results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
}
.str-manage {
  margin: 0 20px;
}
.movie-card {
  border: 1px solid white;
  background-color: #1b1b1b;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}
.movie-card img {
  width: 100%;
  height: auto;
  /* height: 440px; */
}
.movie-card .title-video {
  font-size: 16px;
  font-weight: 700;
  font-weight: bold;
  margin: 10px 0;
  color: #ffffff;
}

.bg-black .title-video {
  color: #ffffff;
}

.bg-black .movie-genre {
  color: #bcbcbc;
}

.bg-black .movie-release {
  color: #ffcc00;
}
/* View-Info-Button*/
.view-info-btn {
  width: 95px;
  height: 36px;
  background-color: #282828;
  border: none;
  padding: 8px 16px;
  margin-top: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.view-info-btn:hover {
  background-color: #fff;
}
.view-info-link {
  color: #1c97ff;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
/* action-row */
.action-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 12px 0;
}
/* ratingStar */
.ratingStar {
  width: 18px !important;
  height: 18px !important;
}
/* vote-average */
.vote-average {
  margin: 0 10px;
  font-size: 14px;
  color: #fff;
}

/* new for change generes.js file */
.tv-show-card {
  background: #111;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  width: 250px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.tv-show-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.tv-show-card h3 {
  margin: 0.5rem 0;
}
