*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-none {
  background-color: transparent;
}
/* result-box */
.result-box {
  width: 100%;
  height: 150px;
  border: 1px solid red;
  background-color: #b5abab;
}
/* moive-details */
.movie-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 491px;
}
/* list-items */
.list-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}
/* description */
.genres {
  width: 100%;
  max-width: 936px;
  height: 35px;
}
.letter-color {
  color: #797979;
  font-size: 18px;
}
.genres p {
  font-size: 16px;
  word-spacing: 5px;
}
.overview {
  width: 100%;
  max-width: 936px;
  height: 56px;
}
.picture-style {
  width: 100%;
  max-width: 336px;
  height: 491px;
  /* margin-top: 140px; */
  border-radius: 3px;
}
.release {
  width: 100%;
  max-width: 300px;
  height: 28px;
  position: absolute;
  top: 12%;
}
.top-position{
  top: 10%;
}
/* BackButton */
.back-btn {
  font-size: 12px;
  background-color: #333;
  border: none;
  width: 130px;
  height: 35px;
  padding: 10px 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #555;
}

.back-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
