/* responsive for laptop */
@media (max-width: 1024px) {
  .dropdown {
    border-radius: 5px;
    position: relative;
    background-color: #1a1a1a;
  }
  .dropbtn {
    width: 100%;
    max-width: 200px;
  }
}
/* responsive for header elements*/
@media (max-width: 768px) {
  .site-header {
    padding: 0 0;
  }
  .dropdown-content {
    position: absolute;
    top: 85%;
    right: 0;
  }
  /* .action-row {
    justify-content: space-between;
  } */
  .hero-content {
    display: none;
  }
  .overlay {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    padding: 0 20px;
  }
  .overlay ul {
    flex-direction: column;
    gap: 12px;
  }
  .input {
    max-width: 100%;
  }
  .hero-section {
    background: url(../images/hero.jpg) left center / cover no-repeat;
  }
  .hero-information {
    width: 100%;
    max-width: 432px;
  }
  .hero-title {
    font-size: 1.5rem;
  }
  .hero-geners {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
  }
  .genere-btn {
    width: 100%;
    text-align: center;
  }
  .hero-description {
    width: 100%;
    font-size: 1rem;
  }
  .picture-style {
    max-height: 400px;
    margin-top: 100px;
    border-radius: 3px;
  }
  .search-box {
    margin: 25px 0 0 0;
  }
  .res-img {
    display: block;
    width: 100%;
    max-width: 800px;
    background-color: burlywood;
  }
}

@media (max-width: 425px) {
  .hero-section {
    background: url(../images/hero.jpg) 40% center / cover no-repeat;
  }
  .genere-btn {
    width: 100%;
    max-width: 100%;
    margin: 5px 0;
  }
  .hero-description {
    padding: 0 10px;
  }
  .show-activity {
    padding: 35px 10px;
  }
  .res-img {
    max-width: 300px;
    background-color: burlywood;
  }
  .release {
    position: absolute;
    top: 8%;
    display: block;
    width: 100%;
    padding: 0 0 0 6px;
  }
}

@media (max-width: 375px) {
  /* .str-manage {
    margin: 0 10px;
  } */
  .picture-style {
    max-width: 300px;
  }
}
